{% extends 'base.html.twig' %}

{% block title %}Estadisticas!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid">
	<div class="row justify-content-center ">
        <div class="col-12 text-center">
			<h1 class=="text-center">Dashboard</h1>
		</div>
    	<div class="col-12 text-center mt-2 mb-2">
			<h1 class=="text-center">Participantes Registrados Carrera del Médico 2024</h1>
		</div>
		</div>
	<div class="row justify-content-center">
		<div class="col-12 col-md-6 text-center">
			<h2>Personas Inscritas por Categoria (Hombres)</h3>
			  <canvas id="categoriahombres"></canvas>
		</div>
		<div class="col-12 col-md-6 text-center">
			<h2>Personas Inscritas por Categoria (Mujer)</h3>
			  <canvas id="categoriamujeres"></canvas>
		</div>
		
		<div class="col-12 col-md-6 text-center">
			<h2>Talla de Playera (Hombres)</h3>
			  <canvas id="playerahombres"></canvas>
		</div>
		<div class="col-12 col-md-6 text-center">
			<h2>Talla de Playera (Mujer)</h3>
			  <canvas id="playeramujeres"></canvas>
		</div>
		<div class="col-12 col-md-6 text-center">
			<h2>Personas Inscritas por Sexo</h3>
			  <canvas id="sexo"></canvas>
		</div>
		
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function () {
  const ctx = document.getElementById('sexo');
  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Hombre', 'Mujer'],
      datasets: [{
        label: 'Participantes por Sexo',
        data: [{{personas.Male}},{{personas.Female}}],
        borderWidth: 1,
        backgroundColor: [
        'rgb(54, 162, 235)',
        'rgb(255, 99, 132)',
    	],
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  
  const ctx4 = document.getElementById('categoriahombres');
  new Chart(ctx4, {
    type: 'bar',
    data: {
      labels: ['Juvenil', 'Libre','Master','Veteranos','Veteranos Plus','Médicos'],
      datasets: [{
        label: 'Categorias',
        data: [{{categoriah.juvenil}},{{categoriah.libre}},{{categoriah.master}},{{categoriah.veteranos}},{{categoriah.Veteranosplus}},{{categoriah.medicos}}],
        borderWidth: 1,
        backgroundColor: [
        'rgb(35, 155, 86)',
        'rgb(176, 58, 46)',
        'rgb(183, 149, 11)',
        'rgb(175, 96, 26)',
        'rgb(22, 160, 133)',
        'rgb(108, 52, 131)',
    	],

      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  
  
  const ctx5 = document.getElementById('categoriamujeres');
  new Chart(ctx5, {
    type: 'bar',
    data: {
      labels: ['Juvenil', 'Libre','Master','Veteranos','Médicos'],
      datasets: [{
        label: 'Categorias',
        data: [{{categoriam.juvenil}},{{categoriam.libre}},{{categoriam.master}},{{categoriam.veteranos}},{{categoriam.medicos}}],
        borderWidth: 1,
        backgroundColor: [
        'rgb(35, 155, 86)',
        'rgb(176, 58, 46)',
        'rgb(183, 149, 11)',
        'rgb(175, 96, 26)',
        'rgb(108, 52, 131)',
    	],
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  
  
  const ctx6 = document.getElementById('playerahombres');
  new Chart(ctx6, {
    type: 'doughnut',
    data: {
      labels: ['Extrachica', 'Chica','Mediana','Grande','Extragrande'],
      datasets: [{
        label: 'Playeras',
        data: [{{playerah.Extrachica}},{{playerah.Chica}},{{playerah.Mediana}},{{playerah.Grande}},{{playerah.Extragrande}}],
        borderWidth: 1,
        backgroundColor: [
        'rgb(247, 220, 111)',
        'rgb(130, 224, 170)',
        'rgb(133, 193, 233 )',
        'rgb(203, 67, 53)',
        'rgb(170, 183, 184)',
    	],
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  
  
  const ctx7 = document.getElementById('playeramujeres');
  new Chart(ctx7, {
    type: 'doughnut',
    data: {
      labels: ['Extrachica', 'Chica','Mediana','Grande','Extragrande'],
      datasets: [{
        label: 'Playeras',
        data: [{{playeram.Extrachica}},{{playeram.Chica}},{{playeram.Mediana}},{{playeram.Grande}},{{playeram.Extragrande}}],
        borderWidth: 1,
        backgroundColor: [
        'rgb(247, 220, 111)',
        'rgb(130, 224, 170)',
        'rgb(133, 193, 233 )',
        'rgb(203, 67, 53)',
        'rgb(170, 183, 184)',
    	],
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
})
</script>
{% endblock %}

